@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(240, 239, 233);
}
#mapArea,
#mapList,
#btnArea,
footer {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
#mapArea a:hover span {
  color: rgb(127, 95, 76);
}
#mapArea #map {
  width: 100%;
  max-width: 1200px;
}
#mapArea .tourist img {
  position: absolute;
  width: 4%;
}
#mapArea .coffee img {
  position: absolute;
  width: 2.5%;
}
#mapArea .oil img {
  position: absolute;
  width: 2.5%;
}
#mapArea .bike img {
  position: absolute;
  width: 4%;
}
#mapArea .bike .name {
  font-size: 16px;
}

#mapArea .name {
  position: absolute;
  width: auto;
  font-family: KOTRAHOPE;
  font-size: 1vw;
  color: #2a2a2a;
  margin-top: 4%;
}

#mapArea #waemok * {
  left: 30%;
  top: 6%;
}
#mapArea #yongmuchi * {
  left: 36%;
  top: 9%;
}
#mapArea #sapgyo * {
  left: 82%;
  top: 51%;
}
#mapArea #myeoncheon * {
  left: 55%;
  top: 71%;
}
#mapArea #solmoe * {
  left: 77%;
  top: 71%;
}
#mapArea #solmoe .name {
  margin-left: 3%;
  margin-top: 3%;
}
#mapArea #sinri * {
  left: 72%;
  top: 84%;
}
#mapArea #sinri .name {
  margin-left: 3.5%;
  margin-top: 2%;
}
#mapArea #hapdeok * {
  left: 69%;
  top: 76%;
}
#mapArea #goljeongji * {
  left: 60%;
  top: 70%;
}
#mapArea #gilmok * {
  left: 74%;
  top: 74%;
}
#mapArea #gilmok .name {
  margin-left: 3.5%;
  margin-top: 3%;
}
#mapArea #hichichi * {
  left: 79%;
  top: 58%;
}
#mapArea #hichichi .name {
  margin-left: 2.5%;
  margin-top: 1%;
}
#mapArea #sunnycoffee * {
  left: 83%;
  top: 47%;
}
#mapArea #sunnycoffee .name {
  margin-left: 2.5%;
  margin-top: 1%;
}
#mapArea #road1950 * {
  left: 82%;
  top: 43%;
}
#mapArea #road1950 .name {
  margin-left: 2.5%;
  margin-top: 1%;
}
#mapArea #yeskatz * {
  left: 52%;
  top: 44%;
}
#mapArea #yeskatz .name {
  margin-left: 4%;
  margin-top: 1%;
}
#mapArea #oil00 * {
  left: 2%;
  bottom: 2%;
}
#mapArea #oil00 .name {
  margin-left: 3%;
  margin-top: 1%;
}
#mapArea #oil01 * {
  left: 51%;
  top: 47%;
}
#mapArea #bike01 .name {
  margin-left: 4%;
  margin-top: 1%;
}
#mapArea #bike01 * {
  left: 88%;
  top: 54%;
}
#mapArea #bike01 img {
  transform: rotateZ(14deg);
}
#mapArea #bike01 .name {
  margin-left: 4%;
  margin-top: 1%;
}
#mapArea #bike02 * {
  left: 95.5%;
  top: 51%;
}
#mapArea #bike02 img {
  transform: rotateZ(259deg);
}
#mapArea #bike02 .name {
  margin-left: -3%;
  margin-top: -2%;
}

#surf {
  position: absolute;
  width: 6%;
}

#mapList ul,
#mapList li {
  list-style: none;
}

#mapList li {
  font-family: KOTRAHOPE;
  font-size: 27px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #2a2a2a;
}
#mapList li.category {
  padding: 10px;
}
#mapList ul li:last-child {
  border-bottom: 0px;
  margin-bottom: 10px;
}
#mapList .category img {
  display: inline-block;
  margin-bottom: -7px;
}
#mapList .cafe .category span {
  padding-bottom: 10px;
}

#mapList li .explain {
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.3;
}

#mapList li .tag,
#mapList li .tour,
#mapList li .discount {
  font-size: 18px;
  font-weight: lighter;
}
#mapList li .tag {
  color: crimson;
}
#mapList li .tour {
  color: cadetblue;
}
#mapList li .discount {
  color: rgb(136, 10, 96);
}

#mapList a {
  padding: 10px;
  text-decoration: none;
  color: #2a2a2a;
  display: block;
}

#mapList a:hover {
  background-color: rgb(224, 235, 246);
}

#btnArea {
  margin-top: 10px;
  text-align: right;
  padding-top: 20px;
}

#btnArea a {
  text-decoration: none;
}

#recommandBtn {
  border: 3px solid saddlebrown;
  background-color: saddlebrown;
  color: white;
  font-family: KOTRAHOPE;
  padding: 10px;
  border-radius: 10px;
}

footer {
  padding: 80px 0px 30px 0px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #2a2a2a;
}
footer img {
  padding-bottom: 10px;
}
footer p {
  margin-bottom: 20px;
  color: #323232;
}
footer img {
  width: 150px;
}

@media (min-width: 1500px) {
  #mapArea .name {
    font-size: 20px;
  }
}

#map2 {
  position: absolute;
  opacity: 50%;
  z-index: 1000;
  top: -18px;
  left: 82px;
  width: 85%;
}
